@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  padding: 0;
  background: black;
  color: yellow;
  font-family: "Bungee", cursive;
  letter-spacing: 2px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-root {
  padding: 3vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
}

.container {
  padding: 1vw;
  border: 1px solid yellow;
  margin: 5px;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollbar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  background: linear-gradient(to bottom, #39cc2c, #2ff923);
}

#progressbar-right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #39cc2c, #2ff923);
  filter: blur(10px);
}

#progressbar-right:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #39cc2c, #2ff923);
  filter: blur(30px);
}

#scrollbar-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1vw;
  background: linear-gradient(to bottom, #eb212e, #ff4653);
}

#progressbar-left:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eb212e, #ff4653);
  filter: blur(10px);
}

#progressbar-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eb212e, #ff4653);
  filter: blur(30px);
}
